<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статистика аренды</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

<!--шапка-->
<header>
    <div class="logo">Аналитика аренды квартир по г. Москва</div>
    <nav>
        <ul>
            <li><a href="/" class="active">Аналитика</a></li>
            <li><a href="/predict">Предсказание цены</a></li>
        </ul>
    </nav>
</header>

<!--ниже шапки + фильтры-->
<div class="container">
    <!-- Левая часть с графиками -->
    <div class="left">
        <!--участок с первым верхним блоком-->
        <div class="charts-row">
            <!-- Основной график распределения цен -->
            <div class="main-graph card">
                <h4>Кол-во объявлений в зависимости от цены</h4>
                <canvas id="myChart"></canvas>
            </div>

            <!-- Информация по объявлениям -->
            <div class="info-ads card">
                <h4>Статистика по объявлениям</h4>
                <div class="info-numbers">
                    <div class="info-block">
                        <div class="info-value">{{ all_active_ads }}</div>
                        <div class="info-label">Всего активных</div>
                    </div>
                    <div class="info-block">
                        <div class="info-value today">+{{ ads_today }}</div>
                        <div class="info-label">За сегодня</div>
                    </div>
                </div>
            </div>

            <!-- Круговая диаграмма -->
            <div class="small-graph card">
                <h4>Типы помещений, их кол-во</h4>
                <canvas id="pieChart"></canvas>
            </div>
        </div>

        <!--нижний участок-->
        <div class="small-graph" id="graph2">
            <!-- Дорогие станции -->
            <div class="station-row">
                <div class="station-chart">
                    <canvas id="expensiveChart"></canvas>
                </div>
                <div class="station-list">
                    <h4>Дорогие станции</h4>
                    <ul>
                        {% for name, price in metro_max %}
                        <li>{{ name }} — {{ "{:.0f}".format(price) }} ₽/м²</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!--Дешёвые станции-->
            <div class="station-row">
                <div class="station-chart">
                    <canvas id="cheapChart"></canvas>
                </div>
                <div class="station-list">
                    <h4>Дешёвые станции</h4>
                    <ul>
                        {% for name, price in metro_min %}
                        <li>{{ name }} — {{ "{:.0f}".format(price) }} ₽/м²</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Правая часть с фильтрами -->
    <div class="right">
        <div class="filter-block">
            <h3>Фильтры</h3>

            <div class="filter">
                <label for="district">Метро:</label>
                <input list="metro-list" id="district" placeholder="Введите станцию метро">
                <datalist id="metro-list">
                    {% for name in name_metro %}
                    <option value="{{ name }}"></option>
                    {% endfor %}
                </datalist>
            </div>

            <div class="filter">
                <label for="price">Цена до:</label>
                <input type="number" id="price" placeholder="₽">
            </div>

            <div class="filter">
                <label for="rooms">Количество комнат:</label>
                <select id="rooms">
                    <option value="">Любое</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="4">5</option>
                    <option value="4">6+</option>

                </select>
            </div>

            <div class="filter">
                <label for="type">Тип помещения:</label>
                <select id="type">
                    <option value="">Любое</option>
                    <option value="Квартира">Квартира</option>
                    <option value="Студия">Студия</option>
                    <option value="Апартаменты">Апартаменты</option>
                    <option value="Апартаменты">Апартаменты-студия</option>
                </select>
            </div>

            <div class="buttons">
                <button class="apply-btn">Применить</button>
            </div>

            <div class="buttons">
                <button class="apply-btn">Сбросить фильтры</button>
            </div>

        </div>
    </div>


</div>
<canvas id="Graph_main"></canvas>
<script>window.metro_max = {{ metro_max | tojson }};</script>
<script>window.metro_min = {{ metro_min | tojson }};</script>
<script>window.type_premises = {{ type_premises | tojson }};</script>
<script>window.hist_info = {{ hist_info | tojson }};</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>
</html>