{% extends "main.html" %}


{% block dropdown %}
<a href="#" class="dropbtn">Активные ▼</a>
<div class="dropdown-content">
    <a href="/all-ads">Все объявления</a>
</div>
{% endblock %}


{% block info_numbers %}
<div class="info-block">
    <div class="info-value">{{ all_active_ads }}</div>
    <div class="info-label">Всего объявлений</div>
</div>
<div class="info-block">
    <div class="info-value today">+{{ ads_today }}</div>
    <div class="info-label">За сегодня</div>
</div>
{% endblock %}


{% block input_active %}
<input type="hidden" name="active" value="yes">
{% endblock %}


{% block button_reset %} <a href="/" class="apply-btn">Сбросить фильтры</a> {% endblock %}